// not reusable contents here
.footer {
	padding: 7rem 0;
	@include flexLayout;
	flex-direction: column;

	&-header {
		display: flex;
		align-items: center;
		margin-bottom: 7rem;
	}

	.social-media {
		display: flex;
		justify-content: space-between;

		width: 30rem;
		margin-bottom: 7rem;

		&-item {
			list-style: none;
		}

		&-link {
			text-decoration: none;
			font-size: 5rem; // because icons are font based
			color: $color-secondary;
			transition: color 0.5s;

			@include breakpoint(max-width 1000px) {
				font-size: 3.5rem;
			}

			&:hover {
				color: $color-primary;
			}
		}
	}

	&-copyright-paragraph {
		font-family: $font-josefinSans;
		font-size: 1.8rem;
		color: $color-secondary;
		@include textStyles(capitalize);

		@include breakpoint(max-width 800px) {
			width: 70%;
			margin: auto;
			text-align: center;
		}
	}
}
