// not reusable contents here
.header {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.5)),
		url(../../images/bg.jpeg) center no-repeat;
	background-size: cover;

	position: relative;

	.brand {
		@include centering(15%);
		display: flex;
		align-items: center;
	}

	&-banner {
		text-align: center;
		@include centering(50%);
	}
}

.main-heading {
	font-family: $font-dancingScript;
	font-size: 10rem;
	font-weight: 300;
	color: $color-primary;
	margin-bottom: 4rem;
}

.sub-heading {
	font-family: $font-josefinSans;
	font-size: 6rem;
	font-weight: 300;
	color: $color-secondary;
	margin-bottom: 8rem;
}
