.card {
	width: 33.3333%;
	height: 30vw;
	position: relative;

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($color-primary, 0.6);
		color: $color-white;
		@extend %fullspace;
		z-index: 10;

		@include flexLayout;
		flex-direction: column;

		&-heading {
			font-family: $font-nunito;
			font-size: 5rem;
			@include textStyles(capitalize);
		}

		&-paragraph {
			font-family: $font-josefinSans;
			font-size: 3rem;
			margin-bottom: 3rem;
			@include textStyles(capitalize);
		}

		&-btn {
			width: 150px;
			height: 40px;

			font-family: $font-josefinSans;
			font-size: 1.4rem;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;

			color: $color-primary;
			background-color: $color-white;
			cursor: pointer;
			outline: none;
			border: 1px solid $color-primary;
			border-radius: 100px;
		}
	}

	&-img {
		@extend %fullspace;
		object-fit: cover; // fix the distorted image quality
		opacity: 0.5;
	}
}
