.card {
	width: calc((100% - (2 * $card-spacing)) / 3);
	height: 30vw;
	position: relative;
	overflow: hidden; //overlay left:-100% needs not to be shown off the overlay area.

	&:hover .card-overlay {
		left: 0;
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: -100%;

		background-color: rgba($color-primary, 0.6);
		color: $color-white;
		@extend %fullspace;
		z-index: 10;

		@include flexLayout;
		flex-direction: column;

		transition: left 0.3s;

		&-heading {
			font-family: $font-nunito;
			font-size: 5rem;
			@include textStyles(capitalize);

			@include breakpoint(max-width 950px) {
				font-size: 3.5rem;
			}
		}

		&-paragraph {
			font-family: $font-josefinSans;
			font-size: 3rem;
			margin-bottom: 3rem;
			@include textStyles(capitalize);

			@include breakpoint(max-width 950px) {
				font-size: 2rem;
			}
		}

		&-btn {
			width: 15rem;
			height: 4rem;

			font-family: $font-josefinSans;
			font-size: 1.4rem;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;

			color: $color-white;
			background-color: transparent;
			cursor: pointer;
			outline: none;
			border: 1px solid $color-white;

			@include breakpoint(max-width 950px) {
				font-size: 1.2rem;
				width: 13rem;
				height: 3rem;
			}

			&:hover {
				color: $color-primary;
				background-color: $color-dark;
				border: 2px solid $color-dark;
			}
		}
	}

	&-img {
		@extend %fullspace;
		object-fit: cover; // fix the distorted image quality
		opacity: 0.5;
	}
}
