.hamburger-menu {
	width: 4rem;
	height: 4rem;
	// background-color: red; //temp color

	position: fixed; //stays put where positioned during scroll
	top: 10%;
	right: 5%;

	.menu {
		@extend %fullspace;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		cursor: pointer;

		&-line {
			width: 100%;
			height: 4px;
			background-color: $color-primary;
		}
	}
}
