.logo {
	font-size: 7rem;
	color: $color-primary;

	// in order to define a width and height for the inline element we have to change display to block/flex
	@include flexLayout;

	width: 11rem;
	height: 11rem;
	border: 3px solid $color-primary;
	border-radius: 50%;
	margin-right: 2rem;

	text-decoration: none; // gets rid of the artifact on the font icon

	@include breakpoint(max-width 1000px) {
		font-size: 5rem;
		width: 9rem;
		height: 9rem;
	}
}

.main-name {
	font-family: $font-nunito;
	font-size: 5rem;
	color: $color-secondary;
	@include textStyles;

	@include breakpoint(max-width 1000px) {
		font-size: 4rem;
	}
}

.sub-name {
	font-family: $font-josefinSans;
	font-size: 1.8rem;
	color: $color-secondary;
	text-align: center;
	@include textStyles;
}
