@mixin flexLayout {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin textStyles($transform: uppercase) {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: $transform;
}

@mixin centering($topValue) {
	position: absolute; //we take it off the block layout and assign relative the parent
	top: $topValue; //from top notch x% below
	left: 50%; //centerline to available width
	transform: translate(
		-50%,
		-50%
	); //centerline to the gravity center of the element
}
