//COLORS
$color-dark: #262626;
$color-darker: #1f1d1d;
$color-black: #000;
$color-white: #fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;
//FONTS
$font-dancingScript: "Dancing Script", cursive;
$font-josefinSans: "Josefin Sans", sans-serif;
$font-nunito: "Nunito", sans-serif;
//GRID SPACING
$card-spacing: 0.5rem;
